.size-chooser {
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 10px;

}

.size-item {
    padding: 0.5rem;
    min-width: 3rem;
    text-align: center;

    border-radius: 15%;
    position: relative;
    z-index: 1;
    transition: transform .2s ease;
    flex-shrink: 0;
    border: 2px solid #b5b5b5;

    &:hover {
        cursor: pointer;
        border: 2px solid #f1f1f1;
    }
}

.size-item-selected,
.size-item-deletable {
    border: 2px solid #5c7efa !important;
    transform: scale(1.2);

    &:after {
        // content: '✓';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        color: #fff;
    }
}

.size-item-deletable {
    &:after {
        content: '✖';
        display: none;
        color: red;
        -webkit-text-stroke: 1px white;
    }

    &:hover:after {
        display: block;
    }
}
